<footer role="contentinfo">
  <div class="container">
    <div class="vcard">
      <div class="adr">
        <div class="org fn">
          <div class="organization-name">North Suburban Business Development Foundation</div>
        </div>
        <div class="street-address">5602 W. Oakton <br> P.O. Box 106</div>
        <span class="locality">Skokie</span>, <span class="region">Illinois</span>, <span class="postal-code">60077</span>
      </div>
      <div class="tel">847-673-0240</div>
    </div>
    <div class="partners">
      <img src="{{ site.baseurl }}/assets/img/library-logo.png">
      <img src="{{ site.baseurl }}/assets/img/chamber-logo.png">
    </div>
  </div>
</footer>
