---
---
$gray: #ccc;
$light-gray: #f0f0f0;
$white: #fff;
$black: #4A4A4A;
$green: #1E9586;
$blue: #2388BC;

*, *:before, *:after{
  box-sizing:  border-box;
}

body{
  margin: 0;
  padding: 0;
  background-color: $blue;
  font: 400 16px/1.5 'Source Sans Pro', sans-serif;
  color: $black;
}

a, a:visited, a:active{
  color: $blue;
}

a:hover{
  border-bottom: 2px solid $blue;
}

h1, h2,h3,h4,h5,h6{
  font-weight: 400;
  margin-bottom: .2em;
  color: $blue;
}

h1:first-of-type, h2:first-of-type, h3:first-of-type, h4:first-of-type, h5:first-of-type, h6:first-of-type{
  margin-top: 0;
}

h1 > a, h2 > a, h3 > a, h4 > a, h5 > a, h6 > a{
  text-decoration: none;
}

p{
  margin-top: 0;
}

.container{
  position: relative;
  max-width: 64rem;
  margin: 0 auto;
  padding: 2rem 10px;
}

header{
  background: $white;

  @media screen and (max-width: 35rem){
    text-align: center;
  }

}

nav{
  position: absolute;
  bottom: 2.1rem;
  right: 10px;
  margin: auto;

  @media screen and (max-width: 35rem){
    position: static;
    margin-top: 1.5rem;
  }

  ul{
    list-style: none;
    margin: 0;
    padding: 0;

    li{
      display: inline-block;
      margin-left: 1.5rem;

      a{
        text-decoration: none;
        letter-spacing: .5px;
      }
    }
  }
}

main{
  background: $light-gray;

  article{
    max-width: 38.4rem;

    h1{
      font-size: 2.5rem;
      text-transform: uppercase;
      color: $green;
    }

    ul{
      padding-left: 1rem;

      li{
        margin-bottom: .875rem;
      }
    }
  }
}

footer{
  color: $white;

  .vcard{
    float: left;
    width: 50%;
  }

  .partners{
    float: right;

    @media screen and (max-width: 35rem){
      float: left;
      width: 50%;
    }

    img{
      display: inline-block;
      margin-left: 2rem;
      margin-bottom: 2rem;
    }
  }
}
