---
---
$gray: #ccc;
$light-gray: #f0f0f0;
$white: #fff;
$black: #4A4A4A;
$green: #1E9586;
$blue: #2388BC;

*, *:before, *:after{
  box-sizing:  border-box;
}

body{
  margin: 0;
  padding: 0 0 2rem 0;
  background-color: $blue;
  font: 400 16px/1.5 'Source Sans Pro', sans-serif;
  color: $black;
}

a, a:visited, a:active{
  color: $blue;
  transition: color .2s ease;
}

a:hover{
  color: darken($blue, 20%);
}

h1,h2,h3,h4,h5,h6{
  margin-bottom: .2em;
  font-weight: 400;
  line-height: 1.2;
  color: $blue;
}

h1 > a, h2 > a, h3 > a, h4 > a, h5 > a, h6 > a{
  text-decoration: none;
}

h2 + h3{
  margin-top: .5em;
}

p{
  margin-top: 0;
}

.container{
  position: relative;
  max-width: 64rem;
  margin: 0 auto;
  padding: 2rem 1rem;
}

header{
  background: $white;

  @media screen and (max-width: 35rem){
    text-align: center;
  }

}

nav{
  position: absolute;
  bottom: 2.1rem;
  right: 10px;
  margin: auto;

  @media screen and (max-width: 35rem){
    position: static;
    margin-top: 1.5rem;
  }

  ul{
    list-style: none;
    margin: 0;
    padding: 0;

    li{
      display: inline-block;
      margin-left: 1.5rem;

      @media screen and (max-width: 35rem){
        margin: 0 .8rem;
      }

      a{
        text-decoration: none;
        letter-spacing: .5px;
      }
    }
  }
}

main{
  background: $light-gray;

  article{
    max-width: 38.4rem;

    h1:first-child{
      margin-top: 0;
      font-size: 2.5rem;
      text-transform: uppercase;
    }

    h2:first-child{
      margin-top: 0;
    }

    ul{
      padding-left: 1rem;

      li{
        margin-bottom: .875rem;
      }
    }
  }
}

.event-section{
  margin-top: 2rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #888;
}

footer{
  overflow: hidden;
  color: $white;

  @media screen and (max-width: 35rem){
    text-align: center;
  }

  .vcard{
    float: left;
    width: 50%;

    @media screen and (max-width: 35rem){
      float: none;
      width: 100%;
      margin-bottom: 2rem;
    }

  }

  .partners{
    float: right;

    @media screen and (max-width: 35rem){
      float: none;
    }
  }

  .partner-logo{
    display: inline-block;
    margin-left: 2rem;
    margin-bottom: 1.5rem;

    @media screen and (max-width: 35rem){
      display: block;
      margin-left: 0;
    }

  }
}
